<body>
    <section class="login_page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 p-0">
                    <div class="right_side">
                        <div class="card">
                            <h1><span class="cheque_col">Streamlined <br>digital interface <br>for efficient <br></span>
                                cheque <br> management.</h1>
                            <p>Track, manage, secure; streamline cheque transactions effortlessly with our intuitive
                                dashboard solution.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div></div>
                </div>
                <div class="col-md-5">
                    <div class="comny_logo">
                        <a href="index.html"><img src="./assets/img/logo_img.png" alt=""></a>
                    </div>
                    <div class="wel_msg">
                        <div class="wel_gif">
                            <i class="fa fa-arrow-left reset_page_back" aria-hidden="true"></i>
                            <h3>Forgot Password</h3>
                            <img class="gif_img_bye" src="./assets/img/monkey.gif" alt="">
                        </div>
                        <p>Enter Email address to verify your account.</p>
                    </div>
                    <div class="login_form">
                        <form id="request-otp" [formGroup]="loginForm">
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" name="email" id="ID" placeholder="example@xyz.com"
                                    class="form-control" formControlName="email">
                                <p class="request_otp" (click)="resetPassword()">Resend OTP</p>
                            </div>
                            <div *ngIf="otpSent">
                                <p class="otp_text">Enter OTP</p>
                                <div class="otp-inputs">
                                    <input type="text" maxlength="1" formControlName="otp1" class="otp-input"
                                        (input)="onOtpInput($event, 1)">
                                    <input type="text" maxlength="1" formControlName="otp2" class="otp-input"
                                        (input)="onOtpInput($event, 2)">
                                    <input type="text" maxlength="1" formControlName="otp3" class="otp-input"
                                        (input)="onOtpInput($event, 3)">
                                    <input type="text" maxlength="1" formControlName="otp4" class="otp-input"
                                        (input)="onOtpInput($event, 4)">
                                    <input type="text" maxlength="1" formControlName="otp5" class="otp-input"
                                        (input)="onOtpInput($event, 5)">
                                    <input type="text" maxlength="1" formControlName="otp6" class="otp-input"
                                        (input)="onOtpInput($event, 6)">
                                </div>
                            </div>

                            <div class="w-100">
                                <label id="otp-error" class="text-red text-capitalize text-normal w-100"
                                    *ngIf="errorMessage">
                                    {{ errorMessage }}
                                </label>
                                <label id="otp-success" class="text-green text-capitalize text-normal w-100"
                                    *ngIf="successMessage">
                                    {{ successMessage }}
                                </label>
                            </div>
                            <input type="submit" name="action" [value]="otpSent ? 'Verify OTP' : 'Send OTP'" id="login"
                                (click)="otpSent ? verifyOtp() : resetPassword()">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>