<section class="login_page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 p-0">
                <div class="right_side">
                    <div class="card">
                        <h1><span class="cheque_col">Streamlined <br>digital interface <br>for efficient <br></span>
                            cheque <br> management.</h1>
                        <p>Track, manage, secure; streamline cheque transactions effortlessly with our intuitive
                            dashboard solution.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div></div>
            </div>
            <div class="col-md-5">
                <div class="comny_logo">
                    <a href="index.html"> <img src="./assets/img/logo_img.png" alt=""></a>
                </div>
                <div class="wel_msg">
                    <div class="wel_gif">
                        <i class="fa fa-arrow-left reset_page_back" aria-hidden="true"></i>
                        <h3>Create New Password </h3>
                    </div>
                    <p>Create a strong password for your account.</p>
                    <h6 *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </h6>
                </div>
                <div class="login_form">
                    <form id="passwordForm" [formGroup]="createPasswordForm" (ngSubmit)="createPassword()">
                        <div class="form-group">
                            <label for="new-password">New Password</label>
                            <div class="password_input">
                                <input [type]="isPasswordVisible ? 'text' : 'password'" name="password"
                                    id="new-password" class="form-control" formControlName="password">
                                <span toggle="#new-password" (click)="togglePasswordVisibility()"
                                    class="fa fa-fw fa-eye field-icon toggle-password eye_view"
                                    [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></span>
                            </div>
                            <div
                                *ngIf="createPasswordForm.get('password')?.invalid && (createPasswordForm.get('password')?.touched || createPasswordForm.get('password')?.dirty)">
                                <small class="text-danger"
                                    *ngIf="createPasswordForm.get('password')?.errors?.['required']">Password is
                                    required.</small>
                                <small class="text-danger"
                                    *ngIf="createPasswordForm.get('password')?.errors?.['minlength']">Password must be
                                    at
                                    least 6 characters long.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <div class="password_input">
                                <input [type]="isConfirmPasswordVisible ? 'text' : 'password'" name="confirm_password"
                                    id="confirm-password" class="form-control" formControlName="confirm_password">
                                <span toggle="#confirm-password" (click)="toggleConfirmPasswordVisibility()"
                                    class="fa fa-fw fa-eye field-icon toggle-password eye_view"
                                    [ngClass]="isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></span>
                            </div>
                            <div
                                *ngIf="createPasswordForm.get('confirm_password')?.invalid && (createPasswordForm.get('confirm_password')?.touched || createPasswordForm.get('confirm_password')?.dirty)">
                                <small class="text-danger"
                                    *ngIf="createPasswordForm.get('confirm_password')?.errors?.['required']">Confirm
                                    Password is required.</small>
                                <small class="text-danger"
                                    *ngIf="createPasswordForm.get('confirm_password')?.errors?.['mismatch']">Passwords
                                    must match.</small>
                            </div>
                        </div>
                        <input type="submit" name="submit" id="login" value="Submit"
                            [disabled]="createPasswordForm.invalid">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>